# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
#api
api/.venv
api/dota2_images
api/gameCoordinator
api/.env 
api/.flaskenv 
api/eg 
api/expandData.py 
api/expected.dict 
api/fillTest.json
api/hero.json 
api/heroDetailed.json
api/heroDetailed.vdf 
api/logging 
api/match.json 
api/test.vdf 
api/test2.vdf 
api/__pycache__ 

#src 
node_modules
dist
dist-ssr
*.local

public
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
